.middle .create-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background-color: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
}

/* feeds */
.middle .feeds .feed {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .edit-post{
  display: flex;
  gap:1rem;
  cursor: pointer;
}

.middle .feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .photo .photo-url{
  height: 18rem;
}

.middle .feed .photo .content{
  margin: 0.25rem 0.5rem;
  font-size: 0.98rem;
}

.middle .feed .interaction-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2.8rem;
  font-size: 1.6rem;
  margin: 0.6rem;
  cursor: pointer;
}

.likes-count{
  display: flex;
  place-items: center;
  gap:0.5rem;
}

.likes-count span{
  font-size: 1.12rem;
}

.user-date{
  display: flex;
  place-items: center;
  gap:1.2rem;
}
/* .middle .liked-by {
  display: flex;
} */

/* .middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
} */

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}

.cards-icon, .card-icons, .card-bookmark, .card-bookmark{
  color: var(--bg-code);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-radius);  
  font-size: 1.45rem;
}

.card-icons, .cards-bookmark{
  color: var(--color-radius);
  -webkit-text-stroke-color: var(--color-radius);
}

