main .container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .follow {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .follow .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .follow .heading .suggestions {
  text-align: center;
  margin: auto;
  font-size: large;
}
.right .follow i {
  font-size: 1.4rem;
}

.right .follow .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .follow .follow-request {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  /* align-items: flex-start; */
}

.right .follow-request .profile-photo {
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.right .profile-photo img {
  border-radius: 50%;
}
.right .follow .follow-request:last-child {
  margin: 0;
}

.right .follow .follow-request p {
  font-size: 0.8rem;
}

.right .follow .follow-request .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-follow {
  background: var(--color-tertiary);
  color: var(--bg-code);
}

.right .follow .message-body a.suggest-active {
  color: var(--color-dark);
  font-size: 1.2rem;
}

.right .follow .message-body a.suggest-active:hover,
.message-body p:hover {
  color: var(--logo-color);
}
